block valiable
  -
    //- META
    var title = 'PAGE TITLE';
    var desc = '';
    var keywords = '';

    //- OG
    var metaTitle = title;
    var metaDesc = desc;
    var metaURL = 'http://sample.com';
    var metaImage = 'image/ogp.png';
    var metaSiteName = 'SiteName';

    //- PATH
    var path = './assets';
    var imgPath = './assets/images';
    
    //- pass variables to include file
    locals.sharedTable = {
      imgPath: '../assets/images'
      //- add variable
    }

doctype html
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" prefix="og: http://ogp.me/ns#") <!--<![endif]-->
  head
    meta(charset="UTF-8")
    title #{title}

    block meta
      meta(name="description" content=`${desc}`)
      meta(name="keywords" content=`${keywords}`)
      meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")

      //- OGP
      meta(property="og:locale" content="ja_JP")
      meta(property="og:title" content=`${metaTitle}`)
      meta(property="og:description" content=`${metaDesc}`)
      meta(property="og:type" content="article")
      meta(property="og:url" content=`${metaURL}`)
      meta(property="og:image" content=`${metaImage}`)
      meta(property="og:image:secure_url" content=`${metaImage}`)
      meta(property="og:site_name" content=`${metaSiteName}`)
      meta(name="twitter:card", content="summary_large_image")

      link(rel="shortcut icon" href=`${imgPath}/favicon.ico`)
      link(rel="apple-touch-icon-precomposed" href=`${imgPath}/apple-touch-icon.png`)

    block style
      link(rel="stylesheet" href=`${path}/css/style.css`)

    block script-head
      script.
        document.documentElement.className = document.documentElement.className.replace("no-js","js");

  body
    block body
      //- #preload-svg
      //-     include ../parts/_svgs
          
      h1 Heading Lv1

      block contents

    block script-body
      script(src=`${path}/js/app.js` defer)
